<div class="container">
	<h3 class="form-title">Payment Form</h3>
	<div class="row">
		<div class="form-group col">
			<label>Payee Name</label>
			<input
				class="form-control"
				#nameChangeEvent
				(input)="onNameChange(nameChangeEvent.value)"
			/>
		</div>

		<div class="col">
			<label><b>Name</b></label>
			<div>
				{{ name | titlecase }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col">
			<label>Payment Date</label>
			<input
				type="date"
				class="form-control"
				#dateChangeEvent
				(input)="onDateChange(dateChangeEvent.value)"
			/>
		</div>

		<div class="col">
			<label><b>Payment Date</b></label>
			<div>
				{{ paymentDate | date: "MMMM d, y" }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col">
			<label>Payment Amount</label>
			<input
				class="form-control"
				#amountChangeEvent
				(input)="onAmountChange(amountChangeEvent.value)"
			/>
		</div>

		<div class="col">
			<label><b>Payment Amount</b></label>
			<div>
				{{ amount | currency: "AUD" }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col">
			<label>Height</label>
			<input
				class="form-control"
				#heightChangeEvent
				(input)="onHeightChange(heightChangeEvent.value)"
			/>
		</div>

		<div class="col">
			<label><b>Height</b></label>
			<div>
				{{ height | number: "1.0-0" }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col">
			<label>Miles</label>
			<input
				class="form-control"
				#milesChangeEvent
				(input)="onMileChange(milesChangeEvent.value)"
			/>
		</div>

		<div class="col">
			<label><b>Kilometers</b></label>
			<div *ngIf="(miles | convert: 'km') > 10">
				{{ miles | convert: "km" | number: "1.0-2" }}
			</div>
		</div>
	</div>
</div>
